body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;

  /* Background image */
  background-image: url('image.jpg');
  background-size: cover;       /* make image cover entire body */
 
  background-repeat: no-repeat; /* avoid repeating tiles */
  
}


/* Card */
.container {
  background-color: #ffffff;
  padding: 30px 25px;
  width: 380px;
  height: 480px;
  border-radius: 12px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

/* Center all content nicely */
.child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Title */
#title {
  margin-bottom: 10px;
  color: #333;
}

/* Description */
#description {
  text-align: center;
  color: #666;
  font-size: 14px;
  margin-bottom: 25px;
}

input {
  width: 85%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: 0.3s;
}

input:focus {
  outline: none;
  border-color: #000000;
  box-shadow: 0 0 5px rgba(36, 251, 3, 0.5);
}


#btnclick {
  width: 92%;
  padding: 12px;
  margin-top: 15px;
  background-color: gray;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

#btnclick:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
#output {
  margin-top: 20px;
  font-size: 14px;
  color: #333;
  text-align: center;
}
